# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# System files
.DS_Store

# dataset
dataset/

# snapshot
snapshot/

# Any Images
*/*.jpg
*/*.JPG
*/*.jpeg
*/*.JPEG
*/*.PNG
*/*.png

# Experimental Project
SRLSTM/
